@using WebApplication.Web.Models.Account;
@model ChangeEmailUserViewModel
@{
    ViewData["Title"] = "ChangeEmail";
}

<a asp-action="Index" asp-controller="Account" class="go-back-button">Go Back to Edit Profile</a>
<h2>Change Email</h2>

<form asp-controller="account" asp-action="changeemail" class="registercontainer" method="post">
    <div class="form-group">
        <label asp-for="OldUserName" class="loginlable">Old Email</label>
        <input type="email" asp-for="OldUserName" />
        <span asp-validation-for="OldUserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewUserName" class="loginlable">New Email</label>
        <input type="email" asp-for="NewUserName" />
        <span asp-validation-for="NewUserName"></span>
    </div>
    <input type="submit" value="Change Email" class="registerpetllb" />
</form>

