@using WebApplication.Web.Models.Account;
@model ChangeNameViewModel
@{
    ViewData["Title"] = "ChangeName";
}
<a asp-action="Index" asp-controller="Account" class="g0-back-button">Go Back to Edit Profile</a>
<h2>Change Name</h2>

<form asp-controller="account" asp-action="changename" method="post">
    <div class="form-group">
        <label asp-for="OldFirstName">Old First Name</label>
        <input type="text" asp-for="OldFirstName" />
        <span asp-validation-for="OldFirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewFirstName">New First Name</label>
        <input type="text" asp-for="NewFirstName" />
        <span asp-validation-for="NewFirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="OldLastName">Old Last Name</label>
        <input type="text" asp-for="OldLastName" />
        <span asp-validation-for="OldLastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewLastName">New Last Name</label>
        <input type="text" asp-for="NewLastName" />
        <span asp-validation-for="NewLastName"></span>
    </div>
    <input type="submit" value="Change Name" class="btn btn-default" />
</form>