@using WebApplication.Web.Models.Account;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<body>

    <form asp-controller="account" asp-action="login" class="logincontainer" method="post">
        <h2 class="loginlable" style="margin-left: 25%; color:white ; padding-left: 5%">Login</h2>
        <lable class="loginlable"><label asp-for="Email"></label></lable>
        <input type="email" asp-for="Email" />
        <br />
        <lable class="loginlable"><label asp-for="Password"></label></lable>
        <input type="password" asp-for="Password" />
        <input type="submit" value="Login" class="llb" />

    </form>
</body>
