@using WebApplication.Web.Models.Account;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}






<body>

    <br /><br /><br />

    <form asp-controller="account" asp-action="login" class="InvitationCards" method="post" style="background-color:rgba(21, 166,157,5)">

                    <h2 class="loginlable" style="margin-left: 25%; color:white ; padding-left: 15%">Login</h2>

                    <lable class="loginlable"><label asp-for="Email"></label></lable>
                    <input type="email" asp-for="Email" />
                    <span asp-validation-for="Email" class="error"></span>
                    <br />
                    <lable class="loginlable"><label asp-for="Password"></label></lable>
                    <input type="password" asp-for="Password" />
                    <span asp-validation-for="Password" class="error"></span>
                    @if (ViewData["message"] != null)
                    {
                        <div class="error-message">                            
                            <strong>@ViewData["message"]</strong>
                        </div>
                    }
                    <br />
                    <br />
                    <input type="submit" value="Login" class="llb" />
                    <a asp-controller="Account" asp-action="Register" class="llb">Register Here!</a>
                </form>
   
</body>

