@model ForumCommentVM
@{
    ViewData["Title"] = "AddComment";
}
<a asp-action="PostDetails" asp-controller="Forum" class="go-back-button">Back to Forum Post!</a>

<body>
    <form method="post" asp-controller="Forum" asp-action="AddComment" class="makeaPlayDateContainer">
        <h2 class="loginlable"><b>Add Comment</b></h2>
        <label asp-for="Comment.User" class="loginlable"></label>
        <select name="Comment.User" style="margin-left:35px">
            <option>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</option>
            <option>Anonymous</option>
        </select>

        <label asp-for="Comment.Message" class="loginlable"></label>
        <input asp-for="Comment.Message" />

        <input type="submit" value="Add Comment" asp-route-id="@Model.PostId" class="makeaplaydatellb"/>
    </form>
</body>

