@model ForumPostUserVM
@{
    ViewData["Title"] = "AddPost";
}

<a asp-action="Index" asp-controller="Forum" class="go-back-button">Back to the Forum!</a>


<body>
    <form method="post" asp-controller="Forum" asp-action="AddPost" class="makeaPlayDateContainer">

        <h2 class="loginlable" style="margin-left: 15%; color:white; padding-left: 10% ;font-size: 25px">Add Post</h2>

        <label asp-for="Post.User" class="loginlable"></label>
        <select name="Post.User" style="margin-left:35px">
            <option>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</option>
            <option>Anonymous</option>
        </select>

        <label asp-for="Post.Subject" class="loginlable"></label>
        <input asp-for="Post.Subject" />

        <label asp-for="Post.Message" class="loginlable"></label>
        <input asp-for="Post.Message" />

        <input type="submit" value="Add Post" class="makeaplaydatellb" />

    </form>
</body>


