@model ForumPostUserVM
@{
    ViewData["Title"] = "AddPost";
}


<h2 style="margin-left:48%">Add Post</h2>

<form method="post" asp-controller="Forum" asp-action="AddPost" style="">
    <table class="table table-striped forumcard">
        <tbody>
            <tr>
                <td><label asp-for="Post.User"></label></td>
                <td>
                    <select name="Post.User">
                        <option>@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</option>
                        <option>Anonymous</option>
                    </select>
                </td>


            </tr>
            <tr>
                <td><label asp-for="Post.Subject"></label></td>
                <td>
                    <input asp-for="Post.Subject" />
                </td>

            </tr>
            <tr>
                <td><label asp-for="Post.Message"></label></td>
                <td>
                    <input asp-for="Post.Message" />
                </td>

            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Post" style="margin-left:-10%"/></td>
            </tr>
        </tbody>
    </table>
</form>

<h2><a asp-action="Index" asp-controller="Forum">Back to the Forum!</a></h2>

