@model ForumPost
@{
    ViewData["Title"] = "PostDetails";
}

<h2 style="margin-left:45%">PostDetails</h2>

<table class="table table-striped forumcard"style="">

    <tbody>
        <tr>
            <td><strong>User:</strong> @Model.User</td>
        </tr>
        <tr>
            <td><strong>Date Posted:</strong> @Model.Post_Date</td>
        </tr>
        <tr>
            <td><strong>Subject:</strong> @Model.Subject</td>
        </tr>
        <tr>
            <td><strong>Message:</strong> @Model.Message</td>
        </tr>
    </tbody>    
</table>
<a asp-controller="Forum" asp-action="AddComment">Add Comment</a>
<h2><a asp-action="Index" asp-controller="Forum">Back to the Forum!</a></h2>