@model ReservationUserViewModel
@{
    ViewData["Title"] = "Reservation";
}




<body>
    <form asp-action="Reservation" asp-controller="Reservation" method="post" class="makeaPlayDateContainer">

        <h2 class="loginlable" style="margin-left: 15%; color:black ; padding-left: 10% ;font-size: 25px">Make A Play Date</h2>

        <label asp-for="Reservation.Address" class="loginlable">Address: </label>
        <input type="text" asp-for="Reservation.Address" />


        <label asp-for="Reservation.StartTime" class="loginlable">Start Time: </label>
        <input type="datetime" asp-for="Reservation.StartTime" />


        <label asp-for="Reservation.EndTime" class="loginlable">End Time:</label>
        <input type="datetime" asp-for="Reservation.EndTime" />


        <label asp-for="Reservation.PetName" class="loginlable">Pet Name: </label>
        <select name="Reservation.PetName" style="margin-left:35px">
            @foreach (Pets pet in Model.Pets)
            {
                <option value="@pet.Name">@pet.Name</option>
            }
        </select>

        @*Want to also attach who I want to invite*@

        <label asp-for="InvitedUser.Username" class="loginlable">Enter email of User to invite:</label>
        <input type="email" asp-for="InvitedUser.Username" />



        <label asp-for="Reservation.Description" class="loginlable">Quick Description of meet up:</label>
        <input type="text" asp-for="Reservation.Description" />


        <input type="submit" value="Send Invite" class="makeaplaydatellb" />

    </form>
</body>