@{
    ViewData["Title"] = "Home Page";
}

<h1 class="pet-play-header"><b></b></h1>

<div>
    <div class="imagesonhome">
        <img class="home-page-img" src="~/images/PetPlayPalsHomeimg.jpg" />
        <img class="home-page-logo" src="~/images/petPlayPalsHomeLogo.png" />
        @*Make image responsive so it fits in a mobile view*@
    </div>

    <p class="site-description" style="margin-left: 15% ; margin-top: 3% ; width: 70%">
        Welcome to Pet Play Pals! The best site in the world to schedule play dates for your adorable pets. 
        Here you can see what dates and locations are available so you can socialize with new people and their pets.
    </p>
    <div class="theThreeP" style=" border-radius: 10px ; padding: 30px">
        <h2 class="p-header"><b>The 3 <strong class="text-warning">P's</strong> of Pet Play Pals</b></h2>
        

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p style="font-size: 150%"><strong class="text-warning">Purrfection:</strong></p>
                    <p>We strive to provide the perfect tool to help you and your pet meet with like minded playful individuals.</p>      
                </div>
                <div class="col-sm-4">
                    <p style="font-size: 150%"><strong class="text-warning">Playful:</strong></p>
                    <p>We know how important having a fun time is for you and your pet, which is why we work so hard to create a playful environment for everyone involved.</p>                 
                </div>
                <div class="col-sm-4">
                    <p style="font-size: 150%"><strong class="text-warning">Performance:</strong></p>
                    <p>We are the number one performing pet playdate scheduler in the greater Cleveland area.</p>
                </div>
            </div>
        </div>



        <ul><br />
            <p><b>Safety:</b> Here at Pet Play Pals we treat you and your pets like family, and as such we want to ensure your safety as if you were one of our own.</p>
        </ul>
    </div>
    <h2 class="Calendar-home-page-header"><b>This week's Play Dates</b></h2>
    @*Implement weekly playdate view*@

</div>