@{
    ViewData["Title"] = "Home Page";
}
<div class="wholeHome">
    <h1 class="pet-play-header"><b></b></h1>

    <div>
        <div class="imagesonhome">
            <img class="home-page-img" src="~/images/Homepageimg (2).png" /> <br /><br />
            <img class="home-page-img" src="~/images/Homepageimg (3).png" /> <br /><br />
            <!--<img class="home-page-logo" src="~/images/HomeLogo.png" />-->
            @*Make image responsive so it fits in a mobile view*@
        </div>
        <!--<img class="site-description" style="width:70%" src="~/images/sitedescription.png" />

            <h3 class="site-description" style="margin-left: 25% ; margin-top: 18% ; width: 50%">
            Welcome to Pet Play Pals! The best site in the world to schedule play dates for your adorable pets.
            Here you can see what dates and locations are available so you can socialize with new people and their pets.
        </h3>-->
        <!-- <img class="pawHome"  src="~/images/pawHome.png" />

            <div class="theThreeP" style="padding: 30px">

                <h1 class="p-header" style="margin-left: -20% ; margin-bottom: -2% ; margin-top: -2% ">
                    <img class="threePtitle" style="width:25%" src="~/images/TheThreeP.png" />
                </h1>
                <br /><br />


                <div class="hometable">
                          <table class="table">
                              <tbody>
                                  <tr>

                                      <td> <img class="" style="width:70%" src="~/images/Purrfection.png" /></td>
                                      <td> <img class="" style="width:50%" src="~/images/Playful.png" /></td>
                                      <td> <img class="" style="width:70%" src="~/images/Performance.png" /></td>
                                  </tr>
                                  <tr>
                                      <td> <p>We strive to provide the perfect tool to help you and your pet meet with like minded playful individuals.</p> </td>
                                      <td> <p>We know how important having a fun time is for you and your pet, which is why we work so hard to create a playful environment for everyone involved.</p></td>
                                      <td> <p>We are the number one performing pet playdate scheduler in the greater Cleveland area.</p></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img class="" style="width:70%"  src="~/images/Purrfection.png" />
                    <p>We strive to provide the perfect tool to help you and your pet meet with like minded playful individuals.</p>
                </div>
                <div class="col-sm-3">
                    <img class="" style="width:40%" src="~/images/Playful.png" />
                    <p>We know how important having a fun time is for you and your pet, which is why we work so hard to create a playful environment for everyone involved.</p>
                </div>
                <div class="col-sm-3">
                    <img class="" style="width:70%" src="~/images/Performance.png" />
                    <p>We are the number one performing pet playdate scheduler in the greater Cleveland area.</p>
                </div>
            </div>
        </div>



            <ul>
                <br />
                <h5 style="margin-left: 12% ; margin-top: -1.5%"><img class="" style="width:3%" src="~/images/safety.png" /> Here at Pet Play Pals we treat you and your pets like family, and as such we want to ensure your safety as if you were one of our own.</h5>
            </ul>
        </div>
            <img class="" style="width:30% ; margin-left:35%" src="~/images/thisweeksplaydates.png" />
            @*Implement weekly playdate view*@
            <div class="weekplaceholder"> </div>
        </div>
                -->
    </div>
</div>