@{
    ViewData["Title"] = "Home Page";
}

<h1 style="font-size: 7vw"><b>Pet Play Pals</b></h1>

<div>
    <img class="home-page-img" src="~/images/PetPlayPalsHomeimg.jpg" /> @*Make image responsive so it fits in a mobile view*@
    <p>
        Welcome to Pet Play Pals! The best site in the world to schedule play dates for your adorable pets. 
        Here you can see what dates and locations are available so you can socialize with new people and their pets.
    </p>
    <h2 class="3-p-header" style="font-size:7vw"><b>The 3 P's of Pet Play Pals</b></h2>
    <ul>
        <li><b>Purrfection -</b> We strive to provide the perfect tool to help you and your pet meet with like minded playful individuals.</li>
        <li><b>Playful -</b> We know how important having a fun time is for you and your pet, which is why we work so hard to create a playful environment for everyone involved.</li>
        <li><b>Performance -</b> We are the number one performing pet playdate scheduler in the greater Cleveland area.</li>
        <li><b>'Safety -</b> Here at Pet Play Pals we treat you and your pets like family, and as such we want to ensure your safety as if you were one of our own.</li>
    </ul>
    <h2 style="font-size:7vw"><b>This week's Play Dates</b></h2>
    @*Implement weekly playdate view*@

</div>