/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 1em;
    padding-right: 1em;
    color: royalblue;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Here is the start of our css*/

.navbar-inverse {
    background-color: royalblue;
    border-color: royalblue;
}

nav > li {
    color: white;
}


.home-page-img {
    height: auto;
    width: 100%;
}


.pet-play-header {
    text-align: center;
}

.p-header {
    text-align: center;
}

.Calendar-home-page-header {
    text-align: center;
}

.site-description {
    text-align: center;
}

label {
    display: block;
}

.description {
    text-align: center;
    width: 90%;
    padding-left: 15%;
    padding-bottom: 15px;
}

.welcomeuser {
    padding: 10px;
    font-size: 230%;
    text-align: center;
}

.allPets {
    padding-top: 20px;
    width: 100%;
    margin: 50px auto;
    padding-left: 25%;
    padding-right: 25%;
    overflow: hidden;
}

.yourPets {
    position: absolute;
    padding-left: 25%;
    font-size: 30px;
}

.card {
    float: left;
    width: 40em;
    margin: 20px 2px;
    padding: 15px 25px 0px 25px;
    text-align: center;
    background: white;
    background-clip: padding-box;
    border: 2px solid lightblue;
    border-color: rgba(black, .1);
    border-radius: 5px;
}

.imgForPet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.add-button {
    width: 75%;
    height: auto;
    border-radius: 50%;
    background: royalblue;
    outline: none;
    position: absolute;
    cursor: pointer;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: white;
    margin: 20px;
    margin-top: -10px;
}

    .add-button:hover {
        background: darkblue;
    }


.petName {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: royalblue;
}

.plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

.features {
    width: 120px;
    margin: 20px auto 15px;
    padding: 15px 0 0 15px;
    border-top: 1px solid #e5ded6;
    text-align: left;
}

.feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.plan-feature-unit {
    margin-left: 2px;
    font-size: 16px;
}

.feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

.choosePet {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: royalblue;
    border-bottom: black;
    border-color: black;
    border-radius: 4px;
}

    .choosePet:hover {
        background: darkblue;
    }

#photo {
    height: auto;
    width: 100%;
}

.userimgforpet {
    width: 100%;
    height: auto;
}

.petinfo {
    margin: 15%;
    border: 1px solid #ccc;
    
    width: 180px;
}

.usertitleforpets {
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .pet-play-header {
        font-size: 2em;
    }

    .p-header {
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.5em;
    }

    .Calendar-home-page-header {
        font-size: 1.5em;
    }

    .home-page-img {
        height: auto;
        width: 100%;
    }

    .profileHeader {
        font-size: 1.5em;
        text-align: center;
    }

    .profileWelcome {
        font-size: 1.5em;
        text-align: center;
    }

    .petPhoto {
        height: auto;
        width: 100%;
    }

    .petName {
        margin-bottom: 20px;
        line-height: 1;
        font-size: 1.5em;
        font-weight: bold;
        color: royalblue;
    }

    .description {
        text-align: center;
        width: 90%;
        padding-left: 15%;
        padding-bottom: 15px;
    }

    .welcomeuser {
        padding: 10px;
        font-size: 230%;
        text-align: center;
    }

    .allPets {
        padding-top: 1.5em;
        width: 100%;
        margin: 4em auto;
        padding-left: 25%;
        padding-right: 25%;
        overflow: hidden;
    }

    .yourPets {
        position: absolute;
        padding-left: 25%;
        font-size: 30px;
    }

    .card {
        float: left;
        width: 15em;
        margin: 20px 2px;
        padding: 15px 25px 0 25px;
        text-align: center;
        background: white;
        background-clip: padding-box;
        border: 2px solid lightblue;
        border-color: rgba(black, .1);
        border-radius: 5px;
    }

    .imgForPet {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 98%;
    }

    .petName {
        margin-bottom: 20px;
        line-height: 1;
        font-size: 28px;
        font-weight: bold;
        color: royalblue;
    }

    .plan-unit {
        display: block;
        margin-top: 5px;
        font-size: 13px;
        font-weight: normal;
        color: #aaa;
    }

    .features {
        width: 120px;
        margin: 20px auto 15px;
        padding: 15px 0 0 15px;
        border-top: 1px solid #e5ded6;
        text-align: left;
    }

    .feature {
        line-height: 20px;
        font-size: 24px;
        font-weight: 500;
        color: #333;
        padding-right: 30px;
    }

    .plan-feature-unit {
        margin-left: 2px;
        font-size: 16px;
    }

    .feature-name {
        font-size: 13px;
        font-weight: normal;
        color: #aaa;
    }

    .add-button {
        width: 75%;
        height: auto;
        border-radius: 50%;
        background: royalblue;
        outline: none;
        position: absolute;
        cursor: pointer;
        line-height: 45px;
        text-align: center;
        font-size: 30px;
        font-weight: 100;
        color: white;
        margin: 20px;
        margin-top: -10px;
    }

        .add-button:hover {
            background: darkblue;
        }

    label {
        display: block;
    }

    #photo {
        height: auto;
        width: 100%;
    }

   
}

