/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: royalblue;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Here is the start of our css*/

.navbar-inverse{
    background-color: royalblue;
    border-color: royalblue;
}

nav > li{
    color: white;
}


.home-page-img {
    height: auto;
    width: 100%;
}


.pet-play-header {
    text-align: center;
}

.p-header {
    text-align: center;
}

.Calendar-home-page-header {
    text-align: center;
}

.site-description{
    text-align: center;
}

@media screen and (max-width: 850px){
    .pet-play-header{
        font-size: 2em;
    }
    .p-header {
        white-space: nowrap;
        overflow: hidden;
        font-size: 1.5em;
    }
    .Calendar-home-page-header{
        font-size: 1.5em;
    }
    .home-page-img {
        height: auto;
        width: 100%;
    }
}